<head>
        <meta http-equiv="refresh" content="5">  <!-- Refresca la página cada 5 segundos -->
</head>
<body>
        <h1>Formulario de frecuencia de muestreo</h1>
        
                <form action="/" method="POST">
        
                    <label for="frecuencia">Frecuencia</label> <br>
                    <input type="text" 
                           id="nombre" 
                           name="frecuencia" 
                           placeholder="Ingrese la frecuencia" required/> <br>
                    <button type="submit">Cambiar</button>

<h1> Frecuencia de muestreo: {{frec}} </h1>

<h1> Ultima muestra tomada </h1>

<h2> Presion: {{ultima.presion}} </h2>
<h2> Temperatura: {{ultima.temperatura}} </h2>
<h2> Humedad: {{ultima.humedad}} </h2>
<h2> Velocidad del viento: {{ultima.velocidad}} </h2>


<h1> Promedio ultimas 10 muestras tomadas </h1>

<h2> Presion: {{prom.presion}} </h2>
<h2> Temperatura: {{prom.temperatura}} </h2>
<h2> Humedad: {{prom.humedad}} </h2>
<h2> Velocidad del viento: {{prom.velocidad}} </h2>



</body>
