<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
        <!-- Funcionamiento responsive -->
        <meta http-equiv="refresh" content="{{frec}}">
       
</head>
<body>
        <div class="container">
                <h1>Formulario de frecuencia de muestreo</h1>

                <form action="/" method="POST">

                    <label for="frecuencia">Frecuencia</label> <br>
                    <input type="text"
                           id="nombre"
                           name="frecuencia"
                           placeholder="Ingrese la frecuencia" required/> <br>
                    <button type="submit">Cambiar</button>
        </div>
        <div class="container">
                <h1> Frecuencia de muestreo: {{frec}} </h1>
                <table class="table table-sm">
                <thead>
                        <th>#</th>
                        <th>Ultima muestra tomada</th>
                        <th>Promedio últimas 10 muestras</th>
                </thead>
                <tbody>
                        <tr>
                        <th>Presión</th>
                                <td>{{ultima.presion}}</td>
                                <td>{{prom.presion}}</td>
                        </tr>
                        <tr>
                        <th>Temperatura</th>
                                <td>{{ultima.temperatura}}</td>
                                <td>{{prom.temperatura}}</td>
                        </tr>
                        <tr>
                        <th>Humedad</th>
                                <td>{{ultima.humedad}}</td>
                                <td>{{prom.humedad}}</td>
                        </tr>
                        <tr>
                        <th>Velocidad del viento</th>
                                <td>{{ultima.velocidad}}</td>
                                <td>{{prom.velocidad}}</td>
                        </tr>
                        
                <!-- <h2> Presion: {{ultima.presion}} </h2>
                <h2> Temperatura: {{ultima.temperatura}} </h2>
                <h2> Humedad: {{ultima.humedad}} </h2>
                <h2> Velocidad del viento: {{ultima.velocidad}} </h2> -->
                </tbody>


                <!-- <h1> Promedio ultimas 10 muestras tomadas </h1>

                <h2> Presion:  </h2>
                <h2> Temperatura: {{prom.temperatura}} </h2>
                <h2> Humedad: {{prom.humedad}} </h2>
                <h2> Velocidad del viento: {{prom.velocidad}} </h2> -->
                </table>
        </div>
</body>
</html>
